
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/images/elements/
/var/
/vendor/
/localparse/
/.env
/.idea/
###< symfony/framework-bundle ###
