

<footer class="footer navbar-default">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                {% if app.user %}
                    Привет, {{ app.user.username|e }}!
                    <a class="btn navbar-btn btn-danger" href="{{ url('app_logout') }}">Выйти</a>
                {% else %}
                    <a class="btn navbar-btn btn-success" href="{{ url('app_login') }}">Войти</a>
                {% endif %}
            </div>

        </div>
    </div>
</footer>
