{% extends 'base.html.twig' %}

{% block title %}Пользователи{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>Список пользователей</h1>
                    </div>
                    <div class="panel-body">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Имя</th>
                                    <th>Роли</th>
                                    <th>Статус</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td><a href="{{ url('users_edit',{'id':user.id}) }}">{{ user.username|e }}</a></td>
                                    <td>{% for role in user.roles %}{{ role|e }}, {% endfor %}</td>
                                    <td>{% if user.active %}Активен{% else %}Неактивен{% endif %}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="=2">Нет здесь никого</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
